.font{
    -fx-font-family: "Noto Sans";
}
.textBox{
    -fx-font-size: 20;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
}
.loginbtn{
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-background-color: #cc00cd;
    -fx-text-fill: #000000;
}
.loginbtn:hover{
    -fx-background-color: #ff4b94;
    -fx-text-fill: #ffffff;
}
.signupbtn{
    -fx-font-weight: 700;
}
.fontdash{
    -fx-font-family: "Lucida Sans Unicode";
}
.btn {
    -fx-background-color: #c508ee;
    -fx-border-color: #001c83;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-font-size: 24;
    -fx-pref-width: 178;
    -fx-pref-height: 38;
    -fx-alignment: center;
}

.btn2 {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-color: #760083;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 24;
    -fx-pref-width: 150;
    -fx-pref-height: 20;
    -fx-alignment: center;
}
.btn2:hover {
    -fx-background-color: #ca03f6; /* Change the color to your desired hover color */
    -fx-text-fill: white; /* Change the text color on hover if needed */
}

.btn:hover {
    -fx-background-color: #0000ff;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
}
.btnLogin {
    -fx-background-color: #0000ff;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 20;
    -fx-pref-width: 210;
    -fx-pref-height: 42;
    -fx-alignment: center;
}
.btnLogin:hover {
    -fx-background-color: #c508ee;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
}